body {
    font-family: "Open Sans", sans-serif;
    padding-left: 0;
    padding-right: 0;
}
.centered {
    text-align: center;
}
#footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    color: white;
}
#footer a, #footer a:hover {
    color: white;
}
#footer .container {
    font-size: 15px;
}
.container {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}
.section {
    margin-right: 0;
    margin-left: 0;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
    background: #ffffff;
}
.jumbo h1 {
    font-size: 60px;
    font-weight: normal;
}
.jumbo {
    font-size: 30px;
}
.row {
    padding-bottom: 20px;
}
h2 {
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 20px;
}
h3 {
    font-size: 20px;
    font-weight: normal;
}
h4 {
    font-size: 20px;
    font-weight: normal;
}
h5 {
    font-size: 18px;
    font-weight: normal;
}
a:hover {
    text-decoration: none;
}

.img-thumbnail {
    color: #ddd;
}
a {
    color: #1168BD;
}

.structurizrBackgroundDarker {
    background: #02172C;
    color: #ffffff;
}
.structurizrBackgroundDark {
    background: #08427B;
    color: #ffffff;
}
.structurizrBackgroundBase {
    background: #1168BD;
    color: #ffffff;
}
.structurizrBackgroundLight {
    background: #438DD5;
    color: #ffffff;
}
.structurizrBackgroundLighter {
    background: #85BBF0;
    color: #ffffff;
}
.structurizrBackgroundDarker a, .structurizrBackgroundDark a, .structurizrBackgroundBase a, .structurizrBackgroundLight a {
    color: #85BBF0;
}

.smaller {
    font-size: 11px;
}

.faded {
    color: #aaaaaa;
}

.flag {
    width: 30px;
    margin: 5px;
}
.eventMetadata {
  color: gray;
  font-size: 80%;
}